In [1]:
import pandas as pd

In [3]:
#Taking in National CSV (cleaned in Excel previous to adding in)
csv1 = pd.read_csv("027 TEST National Workbook.csv")
#Just viewing some data
csv1.head()

,SF_ContactID,SF_AccountID LONG,HouseholdPrimaryChapter,RE_MailingStreet,RE_City,RE_State,RE_Zip,SF_ContactMailingStreet,SF_ContactMailingCity,SF_ContactMailingState,SF_ContactMailingPostalCode,SF_AccountBillingStreet,SF_AccountBillingCity,SF_AccountBillingState,SF_AccountBillingPostalCode,SF_AccountID
0,300265074,0011Account123,027 - MAW South Dakota & Montana,123 Main,Sioux Falls,SD,57108,236 South St.,Sioux Falls,South Dakota,57108,394 North Ave.,Sioux Falls,South Dakota,57108,0011Account

In [4]:
#Taking in SF ID report as CSV
csv2 = pd.read_csv("027 TEST Salesforce Data.csv")
csv2.head()

  First Name   Last Name          Account Name SF_AccountID  Contact ID
0     Kaylee  Osentowski  Osentowski Household  0011Account   300265074

In [5]:
#Merging Data together based on common key
merged_data = csv1.merge(csv2,on=["SF_AccountID"])
merged_data.head()

,SF_ContactID,SF_AccountID LONG,HouseholdPrimaryChapter,RE_MailingStreet,RE_City,RE_State,RE_Zip,SF_ContactMailingStreet,SF_ContactMailingCity,SF_ContactMailingState,SF_ContactMailingPostalCode,SF_AccountBillingStreet,SF_AccountBillingCity,SF_AccountBillingState,SF_AccountBillingPostalCode,SF_AccountID,First Name,Last Name,Account Name,Contact ID
0,300265074,0011Account123,027 - MAW South Dakota & Montana,123 Main,Sioux Falls,SD,57108,236 South St.,Sioux Falls,South Dakota,57108,394 North Ave.,Sioux Falls,South Dakota,57108,0011Account,Kaylee,Osentowski,Osentowski Household,300265074

In [ ]:
#creating Excel workbook 
write = pd.ExcelWriter('convertedID.xlsx')

In [ ]:
#Adding merged data to Excel workbook
merged_data.to_excel(write)
write.save()
#Letting us know it worked! 
print("it worked!")